body{
    font-family: 'Press Start 2P', monospace;
    background-color: rgb(255, 248, 237);
}

#card-title{
    margin: 10px auto 0 auto;
    min-height: 60px;
    max-width: 630px;
    box-shadow: 5px 5px 1.5px black;
    border: 0.2px black solid;
    font-size: 18px;
    font-weight: 700;
    display: grid; 
    grid-template-columns: 1fr 11fr;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: white; 
}

a{
    text-decoration: none;
    color: black;
    height: 40px;
    width: 40px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a:hover{
    box-shadow: 2px 2px 1.5px black;
    border: 0.2px black solid;
}

#card-form{
    margin: 10px auto 0 auto;
    min-height: 110px;
    max-width: 590px;
    box-shadow: 5px 5px 1.5px black;
    border: 0.2px black solid;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    margin-bottom: 20px; 
    background-color: white;
}

input{ 
    padding: 12px; 
    box-shadow: 2px 2px 1.5px black; 
    border: 1px solid #ddd; 
    outline: none; 
}

input:focus{
    border: 2px #4361ee solid;
}

#btn-tambah{
    padding: 12px; 
    border: 1px solid black;
    box-shadow: 2px 2px 1.5px black;
    font-weight: 600;
    font-size: 15px; 
    background-color: rgb(91, 236, 255);
    transition: opacity 0.2s ease, transform 0.1s ease;
}

#btn-tambah:hover{
    background-color: #26d0e6;
}

#card-list{
    min-height: 200px;
    max-width: 630px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 10px auto 10px auto;
    background-color: white;
    box-shadow: 5px 5px 1.5px black;
    border: 0.2px black solid;
    font-weight: 500;
}

#card-list-title{
    font-size: 17px;
    font-weight: 700;
}

li { 
    list-style: none; 
    margin: 0 20px 10px 0; 
    padding: 7px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: white;
    box-shadow: 3px 3px 1.5px black;
    border: 0.2px black solid;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

li:hover{
    background-color: rgb(222, 222, 222);
}

li>span{
    max-width: 400px;
    word-break: break-word; /* ini untuk membuat list semakin fit*/
}